.product-detail {
    max-width: 250px; /* Reduced the maximum width to make the card smaller */
    margin: 3rem auto; /* Reduced margin to push the card higher */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    align-items: center;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-detail img {
    width: 100%; /* Adjusted to fit within the new card size */
    height: auto;
}

.product-detail h1 {
    text-align: center;
    font-size: 1.5rem; /* Adjust font size for smaller card */
}

.product-detail span {
    display: block;
    font-size: 18px; /* Adjust font size for smaller card */
    color: #f68b1e;
}

.product-detail button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f68b1e;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.product-detail button:hover {
    background-color: #8b4c0d;
}
